In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import silhouette_score,rand_score

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
df1 = pd.read_csv('/content/raw-filtered-data.csv')

In [ ]:
df1.head(5)

,id,Symbol,Accepted_Symbol_x,Synonym_Symbol_x,Scientific_Name_x,Hybrid_Genus_Indicator,Hybrid_Species_Indicator,Species,Subspecies_Prefix,Hybrid_Subspecies_Indicator,...,Naval_Store_Product,Nursery_Stock_Product,Palatable_Browse_Animal,Palatable_Graze_Animal,Palatable_Human,Post_Product,Protein_Potential,Pulpwood_Product,Veneer_Product,Genus
0,21,ABBA,ABBA,NaN,Abies balsamea (L.) Mill.,NaN,NaN,balsamea,NaN,NaN,...,Yes,Yes,Medium,NaN,No,No,Low,Yes,Yes,Abies
1,40,ABCO,ABCO,NaN,Abies concolor (Gord. & Glend.) Lindl. ex Hild...,NaN,NaN,concolor,NaN,NaN,...,No,Yes,Low,NaN,No,No,Low,Yes,Yes,Abies
2,55,ABFR,ABFR,NaN,Abies fraseri (Pursh) Poir.,NaN,NaN,fraseri,NaN,NaN,...,No,Yes,Low,NaN,No,No,Low,Yes,Yes,Abies
3,62,ABGR,ABGR,NaN,Abies grandis (Douglas ex D. Don) Lindl.,NaN,NaN,grandis,NaN,NaN,...,No,Yes,Low,NaN,No,No,Low,Yes,Yes,Abies
4,65,ABGR4,ABGR4,NaN,Abelia ×grandiflora (Rovelli ex André) Rehder,NaN,×,grandiflora,NaN,NaN,...,No,Yes,Low,NaN,No,No,Low,No,No,Abelia

In [ ]:
df1.describe()

,id,Hybrid_Genus_Indicator,Hybrid_Subspecies_Indicator,Hybrid_Variety_Indicator,Subvariety_Prefix,Subvariety,Forma_Prefix,Forma,Questionable_Taxon_Indicator,SubDivision,...,Frost_Free_Days_Minimum,pH_Minimum,pH_Maximum,Planting_Density_per_Acre_Minimum,Planting_Density_per_Acre_Maximum,Precipitation_Minimum,Precipitation_Maximum,Root_Depth_Minimum_inches,Temperature_Minimum_F,Seeds_per_Pound
count,1079.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1078.000000,1077.000000,1077.000000,766.000000,765.000000,1074.000000,1074.000000,1079.000000,1079.000000,8.810000e+02
mean,42719.859129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,136.062152,5.571588,7.615413,2555.434726,6154.826144,19.960894,48.521415,14.035218,-20.806302,1.058316e+06
std,27572.731921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.884039,0.804859,0.693386,4779.796607,9658.827226,11.328952,26.781084,7.969251,22.470152,3.975392e+06
min,21.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.000000,2.100000,5.200000,10.000000,70.000000,2.000000,10.000000,0.000000,-70.000000,3.000000e+01
25%,15762.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.000000,5.000000,7.100000,430.000000,1200.000000,10.000000,30.000000,8.000000,-38.000000,3.300000e+04
50%,44155.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120.000000,5.500000,7.500000,1200.000000,2728.000000,16.000000,50.000000,12.000000,-28.000000,1.980800e+05
75%,68095.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,160.000000,6.000000,8.000000,2700.000000,4800.000000,30.000000,60.000000,16.000000,-13.000000,7.500000e+05
max,92008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,365.000000,7.500000,10.000000,43560.000000,125000.000000,98.000000,260.000000,60.000000,52.000000,5.000000e+07

In [ ]:
df = pd.read_csv('/content/cleaned-data.csv')

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.describe()

,id,Growth_Rate,Lifespan,Toxicity,Drought_Tolerance,Hedge_Tolerance,Moisture_Use,pH_Minimum,pH_Maximum,Salinity_Tolerance,...,Bloom_Period_Late Summer,Bloom_Period_Late Winter,Bloom_Period_Mid Spring,Bloom_Period_Mid Summer,Bloom_Period_Spring,Bloom_Period_Summer,Bloom_Period_Winter,Bloom_Period_nan,Fire_Resistance_Yes,Fire_Resistance_nan
count,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,...,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.000000,1077.0,1077.000000,1077.0
mean,42780.713092,2.130919,1.917363,0.168059,1.823584,0.649954,1.922006,5.571588,7.615413,0.722377,...,0.080780,0.004643,0.168988,0.077994,0.078923,0.058496,0.002786,0.0,0.083565,0.0
std,27561.057996,0.739575,0.985794,0.570806,0.979569,1.036971,0.759970,0.804859,0.693386,0.914561,...,0.272623,0.068009,0.374915,0.268287,0.269744,0.234788,0.052729,0.0,0.276864,0.0
min,21.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.000000,1.000000,2.100000,5.200000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
25%,15788.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,5.000000,7.100000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
50%,44162.000000,2.000000,2.000000,0.000000,2.000000,0.000000,2.000000,5.500000,7.500000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
75%,68103.000000,3.000000,3.000000,0.000000,3.000000,1.000000,3.000000,6.000000,8.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
max,92008.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,7.500000,10.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,0.0

In [ ]:
df.shape

(1077, 278)

In [ ]:
df.head(5)

,id,Scientific_Name_x,Growth_Rate,Lifespan,Toxicity,Drought_Tolerance,Hedge_Tolerance,Moisture_Use,pH_Minimum,pH_Maximum,...,Bloom_Period_Late Summer,Bloom_Period_Late Winter,Bloom_Period_Mid Spring,Bloom_Period_Mid Summer,Bloom_Period_Spring,Bloom_Period_Summer,Bloom_Period_Winter,Bloom_Period_nan,Fire_Resistance_Yes,Fire_Resistance_nan
0,21,Abies balsamea (L.) Mill.,1,1,0,1,1,2,4.0,6.0,...,0,0,0,1,0,0,0,0,0,0
1,40,Abies concolor (Gord. & Glend.) Lindl. ex Hild...,1,3,0,2,1,2,5.5,7.8,...,0,0,0,0,0,0,0,0,0,0
2,55,Abies fraseri (Pursh) Poir.,2,2,0,1,1,2,3.5,5.5,...,0,0,1,0,0,0,0,0,0,0
3,62,Abies grandis (Douglas ex D. Don) Lindl.,2,3,0,2,1,2,4.5,7.5,...,0,0,0,0,0,0,0,0,1,0
4,65,Abelia ×grandiflora (Rovelli ex André) Rehder,3,2,0,2,3,2,5.7,7.0,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1077 entries, 0 to 1078
Columns: 278 entries, id to Fire_Resistance_nan
dtypes: float64(2), int64(275), object(1)
memory usage: 2.3+ MB

In [ ]:
df.isna().sum()

id                     0
Scientific_Name_x      0
Growth_Rate            0
Lifespan               0
Toxicity               0
                      ..
Bloom_Period_Summer    0
Bloom_Period_Winter    0
Bloom_Period_nan       0
Fire_Resistance_Yes    0
Fire_Resistance_nan    0
Length: 278, dtype: int64

In [ ]:
df.columns

Index(['id', 'Scientific_Name_x', 'Growth_Rate', 'Lifespan', 'Toxicity',
       'Drought_Tolerance', 'Hedge_Tolerance', 'Moisture_Use', 'pH_Minimum',
       'pH_Maximum',
       ...
       'Bloom_Period_Late Summer', 'Bloom_Period_Late Winter',
       'Bloom_Period_Mid Spring', 'Bloom_Period_Mid Summer',
       'Bloom_Period_Spring', 'Bloom_Period_Summer', 'Bloom_Period_Winter',
       'Bloom_Period_nan', 'Fire_Resistance_Yes', 'Fire_Resistance_nan'],
      dtype='object', length=278)

In [ ]:
X = df.drop(columns=['id', 'Scientific_Name_x'])
species = df[['id', 'Scientific_Name_x']]

sc = StandardScaler()

X_sc = sc.fit_transform(X)

Clustering

In [ ]:
km = KMeans(n_clusters=75, random_state=42)
km.fit(X_sc)

KMeans(n_clusters=75, random_state=42)

In [ ]:
labels = km.labels_
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
n_clusters_

75

In [ ]:
y_pred = km.predict(X_sc)

In [ ]:
y_pred

array([12, 12, 12, ..., 42, 42,  6], dtype=int32)

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
silhouette_score(X_sc, km.labels_)

0.03486946569546758

In [ ]:
rand_score(y_pred, km.labels_)

1.0

In [ ]:
categorical_features = ['Category', 'Family', 'Growth_Habit', 'Native_Status',
           'Active_Growth_Period', 'Fall_Conspicuous', 'Flower_Color',
           'Flower_Conspicuous', 'Fruit_Conspicuous', 'Bloom_Period', 'Fire_Resistance']

ordinal_features = ['Toxicity', 'Drought_Tolerance', 'Hedge_Tolerance',
                   'Moisture_Use', 'Salinity_Tolerance', 'Shade_Tolerance', 'Growth_Rate', 'Lifespan']

other_features = ['id', 'Scientific_Name_x', 'pH_Minimum', 'pH_Maximum',
                      'Temperature_Minimum_F']

RECOMMENDER

In [ ]:
neighbors = 5

In [ ]:
dumm = {}
dumm['id'] = 1
dumm['Scientific_Name_x'] = 'nill'

    Toxicity
   'None':0, 'Slight':1, 'Moderate':2, 'Severe':3,
    
    Tolerances other than shade tolerance
   'None':0, 'Low':1, 'Medium':2, 'High':3,

    Shade Tolerance
   'Intolerant':0, 'Intermediate':1, 'Tolerant':2,
    
    Unique keys for Growth Rate and Lifespan
   'Slow':1, 'Short':1, 'Long':3, 'Rapid':3

In [ ]:
dumm

{'id': 1, 'Scientific_Name_x': 'nill'}

In [ ]:
dumm['Lifespan'] = input('Enter a lifespan')
dumm['Toxicity'] = input('Enter toxicity value')
dumm['Drought_Tolerance'] = input('Input drought tolerance')
dumm['Hedge_Tolerance'] = input('Enter desired hedge tolerance')
dumm['Moisture_Use'] = input('Enter desired moisture use')

Enter a lifespan1
Enter toxicity value0
Input drought tolerance1
Enter desired hedge tolerance1
Enter desired moisture use2

In [ ]:
for col in df.columns:
  if col not in dumm.keys():
    dumm[col] = np.nan

In [ ]:
data = pd.DataFrame(dumm, index=[0])
data.fillna(0, inplace=True)
data = df.append(data)
labels = data[['id', 'Scientific_Name_x']]
data.drop(columns=['id', 'Scientific_Name_x'], inplace=True)
data_sc = sc.transform(data)

In [ ]:
km.fit_predict(data_sc)
data['cluster'] = km.labels_

In [ ]:
data.head(5)

,Growth_Rate,Lifespan,Toxicity,Drought_Tolerance,Hedge_Tolerance,Moisture_Use,pH_Minimum,pH_Maximum,Salinity_Tolerance,Shade_Tolerance,...,Bloom_Period_Late Winter,Bloom_Period_Mid Spring,Bloom_Period_Mid Summer,Bloom_Period_Spring,Bloom_Period_Summer,Bloom_Period_Winter,Bloom_Period_nan,Fire_Resistance_Yes,Fire_Resistance_nan,cluster
0,1.0,1,0,1,1,2,4.0,6.0,0.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8
1,1.0,3,0,2,1,2,5.5,7.8,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
2,2.0,2,0,1,1,2,3.5,5.5,1.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
3,2.0,3,0,2,1,2,4.5,7.5,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,8
4,3.0,2,0,2,3,2,5.7,7.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19

In [ ]:
data = pd.concat([data, labels], axis=1)

In [ ]:
out_cluster = km.labels_[-1]
out_cluster

2

In [ ]:
output = data.loc[data['cluster'] == out_cluster]
output

,Growth_Rate,Lifespan,Toxicity,Drought_Tolerance,Hedge_Tolerance,Moisture_Use,pH_Minimum,pH_Maximum,Salinity_Tolerance,Shade_Tolerance,...,Bloom_Period_Mid Summer,Bloom_Period_Spring,Bloom_Period_Summer,Bloom_Period_Winter,Bloom_Period_nan,Fire_Resistance_Yes,Fire_Resistance_nan,cluster,id,Scientific_Name_x
42,2.0,1,0,1,0,3,5.0,7.5,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,1820,"Agrostis hyemalis (Walter) Britton, Sterns & P..."
203,1.0,3,0,1,0,3,4.8,6.8,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,13694,Carex abscondita Mack.
206,2.0,3,0,1,0,2,5.9,7.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,13823,Carex amphibola Steud.
208,2.0,3,0,0,0,3,5.5,7.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,13888,Carex aperta Boott
209,2.0,3,0,1,0,3,4.0,7.5,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2,13906,Carex aquatilis Wahlenb.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,2.0,3,0,1,0,2,4.5,6.5,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,45926,Juncus torreyi Coville
585,2.0,2,0,1,0,3,6.0,7.5,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2,45930,Juncus triglumis L.
586,2.0,3,0,1,0,3,5.0,6.8,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,45946,Juncus validus Coville
1009,2.0,2,0,0,0,3,4.0,6.5,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,83870,Stellaria longifolia Muhl. ex Willd.
0,0.0,1,0,1,1,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,1,nill

In [ ]:
output[['id', 'Scientific_Name_x']].sample(neighbors)

        id            Scientific_Name_x
246  14991        Carex filifolia Nutt.
313  17710   Carex tribuloides Wahlenb.
208  13888           Carex aperta Boott
213  14003  Carex atlantica L.H. Bailey
551  45475  Juncus brachycarpus Engelm.